body {
  background: #111;
}

main {
  background: #111;
  display: flex;
  flex-direction: row;
}

.camera-container {
  text-align: center;
  width: 1280px;
}

.button {
  margin: 7rem;
  height: 80px;
  width: 80px;
  background: lightgrey;
  border-radius: 1000px;
  padding: 20px;
  cursor: pointer;
  border: none;
}

.button:focus {
  outline: none;
}

.showroom {
  padding: 0;
  margin: 0;
  overflow: scroll;
  height: 100vh;
}

.showroom img {
  height: 280px;
  padding: 20px;
  margin: 0;
}

pre {
  color: whitesmoke;
  overflow: hidden;
  transition: 0.2s;
}